.container {
   width: 90%;
  margin: auto;
  text-align: center;
}

.RPS {
 text-align: center;
  display: inline-block;
}

.btn{
 margin-top: 50px;
  display: box;
  width: 20%;
  border: solid;
  background-color: white;
  padding: 14px 28px;
  font-size: 16px;
  text-align: center;
  align: center;
}

body {
  background-color: #71bbd7;
}

h1 {
  margin: 30px;
  font-size: 2rem;
  color: Black;
}

p {
  font-size: 2rem;
  color: #black;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 30%;
}

footer {
 margin-top: 5%;
  color: #black;
  text-align: center;
}

